
<div class="px-2 py-3">
    
    <div class="container px-5" >
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-2 mb-lg-0 text-center text-lg-start" >
                    <h1 class="display-1 lh-1 mb-3">Digital banking Application</h1>
                    <p class="lead fw-normal text-muted mb-5">Launch your mobile app landing page faster with this free application of digital banking </p>
              
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <img src="assets/app.PNG" class="img-fluid" alt="">
              </div>
            
        </div>
    </div>
    </div>
